/* ProfilePage.css */
.profile-page {
    display: flex;
}

.profile-content {
    margin-left: 270px; /* Leave space for the sidebar */
    padding: 20px;
    flex: 1;
}

.upload-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #0056b3;
}

.session-card {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
