nav {
    background-color: bisque;
    color:rgb(18, 125, 219);
    padding: 30px 60px;
    /* puts the elements in different corners separately*/
    display: flex; 
    justify-content: space-around;

} 

nav ul {
    display: flex;
    justify-content: space-around;
    /* align vertically */
    align-items:center;
}

nav li {
    list-style: none;
}

/* for ancor */
nav li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

/* for when hovering the the cursor  */
nav li a:hover {
    color: yellow; 
    text-decoration: none;
}